<form class="form-horizontal" id="contact-form" method="POST" action="../../../email.php" (ngSubmit)="onSubmit()" ngNativeValidate>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="name">{{ 'CONTACT.NAME' | translate }}</label>
    <div class="input-group col-sm-10">
      <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
      <input type="text" name="name" id="name" placeholder="{{ 'CONTACT.NAME' | translate }}"
             [(ngModel)]="message.name" [ngModelOptions]="{ standalone: true }"
             #name="ngModel" class="form-control" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="email">{{ 'CONTACT.EMAIL' | translate }}</label>
    <div class="input-group col-sm-10">
      <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
      <input type="email" name="email" id="email" placeholder="{{ 'CONTACT.EMAIL' | translate }}"
             [(ngModel)]="message.email" [ngModelOptions]="{ standalone: true }"
             #email="ngModel" class="form-control" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="message">{{ 'CONTACT.MESSAGE' | translate }}</label>
    <div class="input-group col-sm-10">
      <textarea name="message" id="message" rows="6" class="form-control" required
                [(ngModel)]="message.message" [ngModelOptions]="{ standalone: true }"
                placeholder="{{ 'CONTACT.MESSAGE' | translate }}" #messageContent="ngModel">
      </textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group col-sm-10 col-sm-offset-2">
      <button id="submit" name="submit" type="submit" md-raised-button color="accent">{{ 'CONTACT.SEND' | translate }}</button>
    </div>
  </div>
</form>
