<form class="form-horizontal" id="contact-form" method="POST" action="../../../email.php" (ngSubmit)="onSubmit()" ngNativeValidate>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="name">Nom</label>
    <div class="input-group col-sm-10">
      <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
      <input type="text" name="name" id="name" placeholder="Nom"
             [(ngModel)]="message.name" [ngModelOptions]="{ standalone: true }"
             #name="ngModel" class="form-control" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="email">Email</label>
    <div class="input-group col-sm-10">
      <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
      <input type="email" name="email" id="email" placeholder="Email"
             [(ngModel)]="message.email" [ngModelOptions]="{ standalone: true }"
             #email="ngModel" class="form-control" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="message">Message</label>
    <div class="input-group col-sm-10">
      <textarea name="message" id="message" rows="6" class="form-control" required
                [(ngModel)]="message.message" [ngModelOptions]="{ standalone: true }"
                placeholder="Message" #messageContent="ngModel">
      </textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group col-sm-10 col-sm-offset-2">
      <input id="submit" name="submit" type="submit" value="Envoyer" class="btn btn-primary">
    </div>
  </div>
</form>
