<nav class="navbar navbar-inverse navbar-fixed-top">
  <div id="section-topbar">
    <div id="topbar-inner">
      <div class="container">
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="menu-item"><a scrollTo href="#intro" title="Intro" data-scroll="intro"><i class="fa fa-chevron-up"></i>  {{ 'MENU.INTRODUCTION' | translate }}</a></li>
              <li class="menu-item"><a scrollTo href="#about" title="About" data-scroll="about"><i class="fa fa-user"></i>  {{ 'MENU.ABOUT' | translate }}</a></li>
              <li class="menu-item"><a scrollTo href="#studies" title="Studies" data-scroll="studies"><i class="fa fa-file"></i>  {{ 'MENU.STUDIES' | translate }}</a></li>
              <li class="menu-item"><a scrollTo href="#work" title="Works" data-scroll="work"><i class="fa fa-briefcase"></i>  {{ 'MENU.EXPERIENCE' | translate }}</a></li>
              <li class="menu-item"><a scrollTo href="#skills" title="Skills" data-scroll="skills"><i class="fa fa-code"></i>  {{ 'MENU.SKILLS' | translate }}</a></li>
              <li class="menu-item"><a scrollTo href="#contact" title="Contact" data-scroll="contact"><i class="fa fa-envelope"></i>  {{ 'MENU.CONTACT' | translate }}</a></li>
              <li class="menu-item"><a scrollTo href="#info" title="Information" data-scroll="info"><i class="fa fa-info"></i>  {{ 'MENU.INFORMATION' | translate }}</a></li>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</nav>

<section id="intro" data-anchor="intro"></section>
<div class="header" id="headerwrap">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-12">
        <img src="../assets/img/profile.jpg" class="img-circle" id="profile-picture">
        <h1>Benjamin Morali</h1>
        <h3> {{ 'DEVELOPER' | translate }} |
          <a href="mailto:benjamin.morali@epita.fr">benjamin.morali@epita.fr</a>
        </h3>
      </div>
    </div>
  </div>
</div>

<section id="about" data-anchor="about"></section>
<div class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-lg-offset-1">
        <h5>{{ 'MENU.ABOUT' | translate }}</h5>
      </div>
      <div class="col-lg-6">
        <p>{{ 'DESCRIPTION' | translate }}</p>
      </div>
      <div class="col-lg-3">
        <p><a href="{{ getResume() }}"><i class="fa fa-download"></i> {{ 'DOWNLOADCV' | translate }}</a></p>
      </div>
    </div>
  </div>
</div>

<section id="studies" data-anchor="studies"></section>
<div class="container desc">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <h5>{{ 'MENU.STUDIES' | translate }}</h5>
    </div>
    <div class="col-lg-6">
      <p>
        <span class="small-title">{{ 'SOFTWAREENGINEERING' | translate }}</span><br/> {{ 'EPITA' | translate }}
      </p>
    </div>
    <div class="col-lg-3">
      <p>2013 - 2018
        <br/>
        <span class="ongoing">{{ 'ONGOING' | translate }}</span>
      </p>
    </div>
    <div class="col-lg-6 col-lg-offset-3">
      <p>
        <span class="small-title">{{ 'ABROAD' | translate }}</span><br/> Griffith College of Dublin
      </p>
    </div>
    <div class="col-lg-3">
      <p>2015</p><br/>
    </div>
    <div class="col-lg-6 col-lg-offset-3">
      <p>
        <span class="small-title">{{ 'BAC' | translate }}</span><br/> {{ 'DUMAS' | translate }}
      </p>
    </div>
    <div class="col-lg-3">
      <p>{{ 'MONTHS.JUNE' | translate }} 2013</p>
    </div>
  </div>
  <hr>
</div>

<section id="work" data-anchor="work"></section>
<div class="container desc">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <h5>{{ 'MENU.EXPERIENCE' | translate }}</h5>
    </div>
    <div class="col-lg-6">
      <p class="tight">
        <span class="small-title">{{ 'DEVELOPER' | translate }} </span><br/> Adenova <br/>
      </p>
      <p>
        {{ 'ADENOVADESC' | translate }}
      </p>
    </div>
    <div class="col-lg-3">
      <p>{{ 'MONTHS.SEPTEMBER' | translate }} 2016 - {{ 'MONTHS.JANUARY' | translate }} 2017 <br /> Paris, France</p>
    </div>
    <div class="col-lg-6 col-lg-offset-3">
      <p class="tight">
        <span class="small-title">{{ 'INTERN' | translate }}</span><br/> PC ServiMedia <br/>
      </p>
      <p>
        {{ 'PCSERVDESC' | translate }}
      </p>
    </div>
    <div class="col-lg-3">
      <p>{{ 'MONTHS.JUNE' | translate }} 2015 - {{ 'MONTHS.JULY' | translate }} 2015 <br/> Suresnes, France</p>
    </div>
  </div>
  <br>
</div>

<section id="skills" data-anchor="skills"></section>
<div class="skills">
  <div class="container desc">
    <div class="row">
      <div class="col-lg-2 col-lg-offset-1">
        <h5>{{ 'MENU.SKILLS' | translate }}</h5>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-android-plain colored"></i>
        <br>
        <p>Android</p>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-angularjs-plain colored"></i>
        <br>
        <p>Angular</p>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-bootstrap-plain colored"></i>
        <br>
        <p>Bootstrap</p>
      </div>
      <div class="col-lg-3 col-lg-offset-3 centered">
        <i class="devicon-c-plain colored"></i>
        <br>
        <p>C</p>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-cplusplus-plain colored"></i>
        <br>
        <p>C++</p>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-csharp-plain colored"></i>
        <br>
        <p>C#</p>
      </div>
      <div class="col-lg-3 col-lg-offset-3 centered">
        <i class="devicon-css3-plain colored"></i>
        <br>
        <p>CSS3</p>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-dot-net-plain colored"></i>
        <br>
        <p>.NET</p>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-git-plain colored"></i>
        <br>
        <p>Git</p>
      </div>
      <div class="col-lg-3 col-lg-offset-3 centered">
        <i class="devicon-html5-plain colored"></i>
        <br>
        <p>HTML5</p>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-java-plain colored"></i>
        <br>
        <p>Java</p>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-javascript-plain colored"></i>
        <br>
        <p>Javascript</p>
      </div>
      <div class="col-lg-3 col-lg-offset-3 centered">
        <i class="devicon-linux-plain colored"></i>
        <br>
        <p>Linux</p>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-mongodb-plain colored"></i>
        <br>
        <p>MongoDB</p>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-mysql-plain colored"></i>
        <br>
        <p>MySQL</p>
      </div>
      <div class="col-lg-3 col-lg-offset-3 centered">
        <i class="devicon-nodejs-plain colored"></i>
        <br>
        <p>Node.js</p>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-php-plain colored"></i>
        <br>
        <p>PHP</p>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-postgresql-plain colored"></i>
        <br>
        <p>PostgreSQL</p>
      </div>
      <div class="col-lg-3 col-lg-offset-3 centered">
        <i class="devicon-python-plain colored"></i>
        <br>
        <p>Python</p>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-sass-plain colored"></i>
        <br>
        <p>SASS</p>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-typescript-plain colored"></i>
        <br>
        <p>Typescript</p>
      </div>
      <div class="col-lg-3 col-lg-offset-3 centered">
        <i class="devicon-trello-plain colored"></i>
        <br>
        <p>Trello</p>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-ubuntu-plain colored"></i>
        <br>
        <p>Ubuntu</p>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-windows8-plain colored"></i>
        <br>
        <p>Windows</p>
      </div>
    </div>
    <br>
  </div>
</div>

<section id="contact" data-anchor="contact"></section>
<div class="container desc">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <h5>{{ 'MENU.CONTACT' | translate }}</h5>
    </div>
    <div class="col-lg-6">
      <app-contact></app-contact>
      <br/>
    </div>
  </div>
</div>

<section id="info" data-anchor="info"></section>
<div id="footwrap" class="footer">
  <div class="container desc">
    <div class="row">
      <div class="col-lg-2 col-lg-offset-1">
        <h5>{{ 'MENU.INFORMATION' | translate }}</h5>
      </div>
      <div class="col-lg-6">
        <p>
          {{ 'CONTACT.EMAIL' | translate }}<br/>
          <a href="mailto:benjamin.morali@epita.fr" class="mail">benjamin.morali@epita.fr</a> <br/>
        </p>
        <p>
          {{ 'ADDRESS' | translate }}<br/> 30, rue Gambetta <br/> 94270 Le Kremlin-Bicêtre <br/> France<br/>
        </p>
        <p>
          {{ 'PHONE' | translate }}<br/>
          <a href="tel:0677292553" class="tel">06.77.29.25.53</a> <br/>
        </p>
      </div>
      <div class="col-lg-3">
        <p>
          {{ 'LINKS' | translate }}
        </p>
        <p>
          <a target="_blank" href="https://fr.linkedin.com/in/benjamin-morali-6867762b"><i class="fa fa-lg fa-linkedin"></i></a>
          <a target="_blank" href="https://github.com/Alezco"><i class="fa fa-lg fa-github"></i></a>
          <a target="_blank" href="https://www.facebook.com/benjamin.morali4"><i class="fa fa-lg fa-facebook"></i></a>
          <a target="_blank" href="https://twitter.com/Alezco_"><i class="fa fa-lg fa-twitter"></i></a>
          <a href="//benjaminmorali.fr/assets/projects"><i class="fa fa-lg fa-code"></i></a>
        </p>
      </div>
    </div>
  </div>
</div>


