<nav class="navbar navbar-inverse navbar-fixed-top">
  <div id="section-topbar">
    <div id="topbar-inner">
      <div class="container">
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="menu-item"><a scrollTo href="#intro" title="Intro" data-scroll="intro"><i class="fa fa-chevron-up"></i>  INTRODUCTION</a></li>
              <li class="menu-item"><a scrollTo href="#about" title="About" data-scroll="about"><i class="fa fa-user"></i>  A PROPOS</a></li>
              <li class="menu-item"><a scrollTo href="#studies" title="Studies" data-scroll="studies"><i class="fa fa-file"></i>  FORMATION</a></li>
              <li class="menu-item"><a scrollTo href="#work" title="Works" data-scroll="work"><i class="fa fa-briefcase"></i>  EXPERIENCE</a></li>
              <li class="menu-item"><a scrollTo href="#skills" title="Skills" data-scroll="skills"><i class="fa fa-code"></i>  COMPETENCES</a></li>
              <li class="menu-item"><a scrollTo href="#contact" title="Contact" data-scroll="contact"><i class="fa fa-envelope"></i>  CONTACT</a></li>
              <li class="menu-item"><a scrollTo href="#info" title="Information" data-scroll="info"><i class="fa fa-info"></i>  INFORMATIONS</a></li>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</nav>

<section id="intro" data-anchor="intro"></section>
<div class="header" id="headerwrap">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-12">
        <img src="../assets/img/profile.jpg" class="img-circle" id="profile-picture">
        <h1>Benjamin Morali</h1>
        <h3>Développeur |
          <a href="mailto:benjamin.morali@epita.fr">benjamin.morali@epita.fr</a>
        </h3>
      </div>
    </div>
  </div>
</div>

<section id="about" data-anchor="about"></section>
<div class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-lg-offset-1">
        <h5>A PROPOS</h5>
      </div>
      <div class="col-lg-6">
        <p>Développeur web et mobile passionné par les nouvelles technologies. J'étudie actuellement à l'EPITA, école d'ingénieurie
          en informatique.</p>
      </div>
      <div class="col-lg-3">
        <p><a href="../assets/documents/cv.pdf"><i class="fa fa-download"></i> TELECHARGER LE CV</a></p>
      </div>
    </div>
  </div>
</div>

<section id="studies" data-anchor="studies"></section>
<div class="container desc">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <h5>FORMATION</h5>
    </div>
    <div class="col-lg-6">
      <p>
        <span class="small-title">Ingénieurie en informatique</span><br/> EPITA - Ecole Pour l'Informatique et les Technologies Avancées
      </p>
    </div>
    <div class="col-lg-3">
      <p>2013 - 2018
        <br/>
        <span class="ongoing">EN COURS</span>
      </p>
    </div>
    <div class="col-lg-6 col-lg-offset-3">
      <p>
        <span class="small-title">Semestre à l'international</span><br/> Griffith College of Dublin
      </p>
    </div>
    <div class="col-lg-3">
      <p>2015</p><br/>
    </div>
    <div class="col-lg-6 col-lg-offset-3">
      <p>
        <span class="small-title">Baccalauréat S Mention Assez Bien</span><br/> Lycée Alexandre Dumas
      </p>
    </div>
    <div class="col-lg-3">
      <p>JUIN 2013</p>
    </div>
  </div>
  <hr>
</div>

<section id="work" data-anchor="work"></section>
<div class="container desc">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <h5>EXPERIENCE PROFESSIONNELLE</h5>
    </div>
    <div class="col-lg-6">
      <p class="tight">
        <span class="small-title">Développeur stagiaire </span><br/> Adenova <br/>
      </p>
      <p>
        Adenova est une start-up qui développe des applications mobile et web pour des clients tels que Le Monde, 750 grammes ou Explolab.
      </p>
    </div>
    <div class="col-lg-3">
      <p>SEPTEMBRE 2016 - JANVIER 2017 <br /> Paris, France</p>
    </div>
    <div class="col-lg-6 col-lg-offset-3">
      <p class="tight">
        <span class="small-title">Stagiaire</span><br/> PC ServiMedia <br/>
      </p>
      <p>
        PC ServiMedia effectue des réparations logicielles et matérielles de smartphones, tablettes et PC.
      </p>
    </div>
    <div class="col-lg-3">
      <p>JUIN 2015 - JUILLET 2015 <br/> Suresnes, France</p>
    </div>
  </div>
  <br>
</div>

<section id="skills" data-anchor="skills"></section>
<div class="skills">
  <div class="container desc">
    <div class="row">
      <div class="col-lg-2 col-lg-offset-1">
        <h5>COMPETENCES</h5>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-android-plain colored"></i>
        <br>
        <p>Android</p>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-angularjs-plain colored"></i>
        <br>
        <p>Angular</p>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-bootstrap-plain colored"></i>
        <br>
        <p>Bootstrap</p>
      </div>
      <div class="col-lg-3 col-lg-offset-3 centered">
        <i class="devicon-c-plain colored"></i>
        <br>
        <p>C</p>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-cplusplus-plain colored"></i>
        <br>
        <p>C++</p>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-csharp-plain colored"></i>
        <br>
        <p>C#</p>
      </div>
      <div class="col-lg-3 col-lg-offset-3 centered">
        <i class="devicon-css3-plain colored"></i>
        <br>
        <p>CSS3</p>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-dot-net-plain colored"></i>
        <br>
        <p>.NET</p>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-git-plain colored"></i>
        <br>
        <p>Git</p>
      </div>
      <div class="col-lg-3 col-lg-offset-3 centered">
        <i class="devicon-html5-plain colored"></i>
        <br>
        <p>HTML5</p>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-java-plain colored"></i>
        <br>
        <p>Java</p>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-javascript-plain colored"></i>
        <br>
        <p>Javascript</p>
      </div>
      <div class="col-lg-3 col-lg-offset-3 centered">
        <i class="devicon-linux-plain colored"></i>
        <br>
        <p>Linux</p>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-mongodb-plain colored"></i>
        <br>
        <p>MongoDB</p>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-mysql-plain colored"></i>
        <br>
        <p>MySQL</p>
      </div>
      <div class="col-lg-3 col-lg-offset-3 centered">
        <i class="devicon-nodejs-plain colored"></i>
        <br>
        <p>Node.js</p>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-php-plain colored"></i>
        <br>
        <p>PHP</p>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-postgresql-plain colored"></i>
        <br>
        <p>PostgreSQL</p>
      </div>
      <div class="col-lg-3 col-lg-offset-3 centered">
        <i class="devicon-python-plain colored"></i>
        <br>
        <p>Python</p>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-sass-plain colored"></i>
        <br>
        <p>SASS</p>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-typescript-plain colored"></i>
        <br>
        <p>Typescript</p>
      </div>
      <div class="col-lg-3 col-lg-offset-3 centered">
        <i class="devicon-trello-plain colored"></i>
        <br>
        <p>Trello</p>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-ubuntu-plain colored"></i>
        <br>
        <p>Ubuntu</p>
      </div>
      <div class="col-lg-3 centered">
        <i class="devicon-windows8-plain colored"></i>
        <br>
        <p>Windows</p>
      </div>
    </div>
    <br>
  </div>
</div>

<section id="contact" data-anchor="contact"></section>
<div class="container desc">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <h5>CONTACT</h5>
    </div>
    <div class="col-lg-6">
      <app-contact></app-contact>
      <br/>
    </div>
  </div>
</div>

<section id="info" data-anchor="info"></section>
<div id="footwrap" class="footer">
  <div class="container desc">
    <div class="row">
      <div class="col-lg-2 col-lg-offset-1">
        <h5>INFORMATIONS</h5>
      </div>
      <div class="col-lg-6">
        <p>
          Email<br/>
          <a href="mailto:benjamin.morali@epita.fr" class="mail">benjamin.morali@epita.fr</a> <br/>
        </p>
        <p>
          Adresse<br/> 30, rue Gambetta <br/> 94270 Le Kremlin-Bicêtre <br/> France<br/>
        </p>
        <p>
          Téléphone<br/>
          <a href="tel:0677292553" class="tel">06.77.29.25.53</a> <br/>
        </p>
      </div>
      <div class="col-lg-3">
        <p>
          LIENS
        </p>
        <p>
          <a target="_blank" href="https://fr.linkedin.com/in/benjamin-morali-6867762b"><i class="fa fa-linkedin"></i></a>
          <a target="_blank" href="https://github.com/Alezco"><i class="fa fa-github"></i></a>
          <a target="_blank" href="https://www.facebook.com/benjamin.morali4"><i class="fa fa-facebook"></i></a>
          <a target="_blank" href="https://twitter.com/Alezco_"><i class="fa fa-twitter"></i></a>
          <a href="//benjaminmorali.fr/www/assets/projects"><i class="fa fa-code"></i></a>
        </p>
      </div>
    </div>
  </div>
</div>


