body {
  background-color: #f2f2f2;
  font-weight: 300;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: #333;
}

p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

#section-topbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10000;
	overflow: visible;
	font: normal 16px/24px  'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#section-topbar a {
  color: #fff;
}

#section-topbar a:hover {
  background-color: #5bc0de;
  color: black;
}

#section-topbar a.active {
  background-color: #5bc0de;
  color: black;
}

#topbar-inner {
	background: #34495e;
	line-height: 0;
	text-align: center;
}

#section-topbar ul#nav {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
}

#section-topbar ul#nav > li {
	display: block;
  float: left;
  padding: 0;
}

#section-topbar ul#nav a {
  display: block;
  font: normal 11px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  padding: 18px 20px 18px 20px;
}

#section-topbar ul#nav a:hover {
	background: #333;
	text-decoration: none;
}

#section-topbar ul#nav a:focus {
	background: #5bc0de;
	text-decoration: none;
}

#section-topbar i {
	font-size: 15px;
}


#profile-picture {
  width: 15%;
  height: 15%;
}

a {
  color: #5bc0de;
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover, a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

a:before, a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.header {
  background: #DDDDDD;
  background: url(assets/img/header-bg.jpg) no-repeat center top;
  padding-top:140px;
  text-align:center;
  background-position: center center;
  min-height: 500px;
  width: 100%;
}

.header h1 {
  font-size: 80px;
  color: white;
}

.header h3 {
  font-size: 20px;
  color: white;
}

.header h3 a {
  color: #fff;
}

.about {
  background: #2c3e50;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
}

.about h5, p {
  color: white;
}

.about i {
  color: white;
  font-size: 20px;
  padding-right: 8px;
  vertical-align: middle;
}

.footer {
  background: #2f2f2f;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer p {
  color: white;
}

.footer h5 {
  color: white;
}

.footer i {
  padding-right: 8px;
}

.desc {
  padding-top: 50px;
}

.desc p {
  color: #2f2f2f;
}

.small-title {
  color: #34495e;
  font-weight: 700;
}

.ongoing {
  padding: 6px;
  color: white;
  background: #34495e;
}

.desc .col-lg-3 {
  text-transform: uppercase;
}

.container .row p.tight {
  margin-bottom: 10px;
}

.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

.skills {
  background: #2f2f2f;
}

.skills i {
  font-size: 200%;
}

.skills h5 {
  color: white;
}

.skills p {
  color: white;
}

.footer p {
  color: white;
}

textarea {
  resize: none;
}
